<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<button class="btn btn-primary">button</button>
<button class="btn btn-secondary">secondary</button>
<button class="btn btn-info">info</button>
<button class="btn btn-danger">danger</button>
<button class="btn btn-light">light</button>
<button class="btn btn-dark">dark</button>

<div class="container">
  <div class="alert alert-primary">
    primary
  </div>
  <div class="alert alert-secondary">
    secondary
  </div>
  <div class="alert alert-info">
    info
  </div>
  <div class="alert alert-danger">
    danger
  </div>
  <div class="alert alert-light">
    light
  </div>
  <div class="alert alert-dark">
    dark
  </div>
</div>

<div class="container">
  <div class="has-switch">
    <div>
      <label>&nbsp;</label>
    </div>
  </div>
</div>

<div class="container">
  <div class="switch has-switch deactivate" data-on-label="ON" data-off-label="OFF">
    <div class="switch-on switch-animate">
      <input type="checkbox" checked="" data-target="section-header" data-type="parallax">
      <span class="switch-left">
        する
      </span>
      <label>&nbsp;</label>
      <span class="switch-right">
        しない
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="switch has-switch active" data-on-label="ON" data-off-label="OFF">
    <div class="switch-on switch-animate">
      <input type="checkbox" checked="" data-target="section-header" data-type="parallax">
      <span class="switch-left">
        する
      </span>
      <label>&nbsp;</label>
      <span class="switch-right">
        しない
      </span>
    </div>
  </div>
</div>